@import "tailwindcss";
@import url('https://api.fontshare.com/v2/css?f[]=mona-sans@400,500,600,700&display=swap');

:root {
  --font-mont: 'Montserrat', sans-serif;
  --font-mona: 'Mona Sans', sans-serif;
}

.font-mont {
  font-family: var(--font-montserrat), sans-serif;
}

.font-cinzel {
  font-family: var(--font-cinzel), serif;
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-mona {
  font-family: var(--font-mona), sans-serif;
}

/* default body font */
body {
  font-family: var(--font-montserrat), sans-serif;
}
