@import "tailwindcss";

:root {
  --font-mont: 'Montserrat', sans-serif;
}

.font-mont {
  font-family: var(--font-montserrat), sans-serif;
}

.font-cinzel {
  font-family: var(--font-cinzel), serif;
}

.font-playfair {
  font-family: var(--font-playfair);
}

/* default body font */
body {
  font-family: var(--font-montserrat), sans-serif;
}
